<div class="modal fade" id="addScreen" tabindex="-1" aria-labelledby="addScreenLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addScreenLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form-add" action="/games" method="post" class="form__container">  
          <label class="title"> Crear un nuevo juego </label>

          <div class="welcome_form-item">
            <input id="name-games" name="name" type="text">
          </div>

          <div class="welcome_form-item">
            <input id="image-games" name="image" type="url">
          </div>
          <div class="welcome_form-submit">
            <input type="submit" value="Crear" class="form__btn" id="form-btn"/> 
          </div>
            
        </form>
      </div>
    </div>
  </div>
</div>