<footer class="footer-container">
  <img src="/img/logo.png" alt="logo-footer" class="logo-footer">
  <div class="footer-mobile">
    <div class="social-medias">
      <div class="pad">
        <img src="/fontawesome/svgs/icons8-instagram.svg" alt="">
      </div>

      <div class="pad">
        <img src="/fontawesome/svgs/icons8-telegram-app.svg" alt="">
      </div>

      <div class="pad">
        <img src="/fontawesome/svgs/icons8-twitter.svg" alt="">
      </div>

      <div class="pad">
        <img src="/fontawesome/svgs/icons8-whatsapp.svg" alt="">
      </div>

      <div class="pad">
        <img src="/fontawesome/svgs/icons8-youtube-logo.svg" alt="">
      </div>
      
    </div>

    <div class="container">
      <h3>Más sobre nosotros</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consectetur, odit nostrum voluptatum eius adipisci!</p>
    </div>

    <div class="container">
      <h2> Para más información... ¡Contáctanos! </h2>
      <form action="" class="contact-form">
        <span> Ingrese su email y le enviaremos información más detallada sobre nosotros!</span>
        <div class="items">
          <input type="text" placeholder="Correo electrónico" class="textbox">
          <button> Enviar </button>
        </div>
      </form>
    </div>

    
  </div>
  
  <div class="footer-desktop">
    <div class="social-medias">
      <div class="pad">
        <img src="/fontawesome/svgs/icons8-instagram.svg" alt="">
      </div>

      <div class="pad">
        <img src="/fontawesome/svgs/icons8-telegram-app.svg" alt="">
      </div>

      <div class="pad">
        <img src="/fontawesome/svgs/icons8-twitter.svg" alt="">
      </div>

      <div class="pad">
        <img src="/fontawesome/svgs/icons8-whatsapp.svg" alt="">
      </div>
      
      <div class="pad">
        <img src="/fontawesome/svgs/icons8-youtube-logo.svg" alt="">
      </div>
    </div>
    <br>
    <div class="container">
      <h3>Más sobre nosotros</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consectetur, odit nostrum voluptatum eius adipisci!</p>
    </div>

    <div class="container">
      <h2> Para más información... ¡Contáctanos! </h2>
      <form action="" class="contact-form">
        <span> Ingrese su email y le enviaremos información más detallada sobre nosotros!</span>
        <div class="items">
          <input type="text" placeholder="Correo electrónico" class="textbox">
          <button> Enviar </button>
        </div>
      </form>
    </div>
    
  </div>
  <div class="container center">
    <p> Empresas Chaguamboo derechos reservados &copy; <script>document.write(new Date().getFullYear());</script> </p>
  </div>
  
</footer>
