<nav class="navbar">
    <a href="/">
        <div class="navbar__logo">
          <img src="/img/logoprincipal.jpeg" alt="logo"> 
          <span> Cluub! </span>   
        </div>
    </a>
    <ul class="navbar__list">
        <li>
            <a href="/games/add" class="add-games" data-bs-toggle="modal" data-bs-target="#addScreen"> Nuevo Juego </a>
        </li>
        <li>
            <a href="#"> Perfil </a>
        </li>
    </ul>

</nav>