<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/forms.css">
	<link rel="stylesheet" href="/fontawesome/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="shortcut icon" href="img/logoprincipal.jpeg" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Scada&display=swap" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik+Puddles&family=Rubik+Spray+Paint&family=Rubik+Vinyl&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
	<title>Chagui club</title>
</head>

<body>
	{{> nav}}
	{{{body}}}
	{{> footer}}

	<script src="/js/scripts.js"></script>
	<script src="/fontawesome/js/all.min.js"></script>
</body>

</html>