<section class="welcome">

  <img src="img/logoprincipal.jpeg" alt="logo" class="welcome-logo">

  <div class="welcome-message">


    <h1> Bienvenido al Chagui Club!! </h1>

    <div class="welcome-browser">
      <form action="/games/findGame" method="post" class="welcome__container-form">
        <label class="welcome__name-game"> Coloca el nombre del juego que quieras buscar en nuestro <b> Buscador de
            juegos </b> </label>
        <div class="welcome_form-item">
          <input type="text" name="name" placeholder="Nombre del juego">
        </div>
        <div class="welcome_form-submit">
          <input type="submit" value="Buscar">
        </div>
      </form>
    </div>

    <div class="welcome-list">
      <p>Tambien puedes ver nuestra lista de juegos!</p>
      <a href="/games" class="button"> todos los juegos </a>
    </div>

  </div>

</section>