<section class="welcome">

  <img src="img/logo.png" alt="logo" class="welcome-logo">

  <div class="welcome-message">


    <h1> Bienvenido al Chagui Club!! </h1>

    <div class="welcome-browser">
      <h2>Inicia sesion si ya posees una cuenta</h2>
      <a href="/signin" class="button"> Iniciar sesion </a>
    </div>

    <div class="welcome-list">
      <p>Si no tienes una cuenta has click aquí!</p>
      <a href="/signup" class="button"> Registrarme </a>
    </div>

  </div>

</section>

