<section class="signin-form">
  <form action="/signin" class="container-form" method="post">
    <h3> Inicia sesión </h3>
    <div class="input-form">
      <label> Nombre de usuario </label> 
      <input type="text" name="username" class="box" placeholder="Nombre de usuario" required>
    </div>
    <div class="input-form">
      <label> Contraseña </label>
      <input type="password" name="password" class="box" placeholder="Contraseña" required>
    </div>
    
    <input type="submit" value="Enviar" class="btn">
    <div class="welcome-list">
      <p>Si no tienes una cuenta has click aquí!</p>
      <a href="/signup" class="button"> Registrarme </a>
    </div>
  </form>
</section>

