<section class="signin-form">
  <form action="/signup" class="container-form" method="post">
    <h3> Regístrate </h3>
    <div class="input-form">
      <label> Nombres </label> 
      <input type="text" name="firstName" class="box" placeholder="Nombre" >
    </div>

    <div class="input-form">
      <label> Apellido </label> 
      <input type="text" name="lastName" class="box" placeholder="Apellidos" >
    </div>

    <div class="input-form">
      <label> Número de teléfono </label> 
      <input type="number" name="phone_number" class="box" placeholder="Número de teléfono" >  
    </div>

    <div class="input-form">
      <label> Nombre de usuario </label> 
      <input type="text" name="username" class="box" placeholder="Nombre de usuario"        >  
    </div>

    <div class="input-form"> 
      <label> Correo electrónico </label>
      <input type="email" name="email" class="box" placeholder="Correo electrónico"         >  
    </div>

    <div class="input-form"> 
      <label> Contraseña </label>
      <input type="password" name="password" class="box" placeholder="Contraseña"           >  
    </div>
        
    <input type="submit" value="Enviar" class="btn">
    <div class="welcome-list">
      <p>Si ya tienes una inicia sesión!</p>
      <a href="/signin" class="button"> Acceder </a>
    </div>
  </form>
</section>

