/***** GameList ******/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fcfcfc;
  /* background: linear-gradient(289deg, #a06ae3, #6a7ee3, #6ae38e, #e3866a);
  background-size: 800% 800%;

  -webkit-animation: fondo 24s ease infinite;
  -moz-animation: fondo 24s ease infinite;
  -o-animation: fondo 24s ease infinite;
  animation: fondo 24s ease infinite; */
}

.card__game {
  margin: 20px 10px;
  background-color: #fff;
  transition: .4s;
  
}

.card__game:hover {
  box-shadow: 2px 9px 17px -6px rgba(0, 0, 0, 0.96);
  -webkit-box-shadow: 2px 9px 17px -6px rgba(0, 0, 0, 0.96);
  -moz-box-shadow: 2px 9px 17px -6px rgba(0, 0, 0, 0.96);
}

.card__game img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.card__content {
  padding: 25px;
  color: #444;
}

.card__content h2,
label {
  display: block;
  padding: 10px;
}

.card-products .content {
  background-color: aqua;
}

.card__game-only{
  margin: auto;
  padding: 10px;
  background-color: #fff;
  width: 100%;
}
.container-card__btn{
  display: flex;

}

.card__btn{
  padding: 15px;
  text-decoration: none;
  background-color: #666;
  color: #fff;
}

@media screen and (min-width: 800px) {
  .container {
    justify-content: space-between;

  }
}

@-webkit-keyframes fondo {
  0% {
    background-position: 87% 0%;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0%;
  }
}
@-moz-keyframes fondo {
  0% {
    background-position: 87% 0%;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0%;
  }
}
@-o-keyframes fondo {
  0% {
    background-position: 87% 0%;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0%;
  }
}
@keyframes fondo {
  0% {
    background-position: 87% 0%;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0%;
  }
}
