nav{
    display: block;
    position: sticky;
    top: 0;
    background: var(--morado);
    z-index: 1;
    border-bottom: 2px var(--blanco);
}
.session{
    background: none;
    border: none;
    color:  var(--gris-carbon);
}
.menu{
    display: none;
    cursor: pointer;
    padding: 8px;
    width: 36px;
    height: 36px; 
    margin: 0px 10px;
}
.navbar-desktop{
    margin-top: 0px;
    display:flex;
    justify-content: space-between;
}
.nav-right a{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
.nav-right a img{
    object-fit: cover;
    width: 50px;
    height: 52px;
    margin: 0 0 0 8px;
}
.nav-right a span{
    letter-spacing: 0.06em;
    font-family: 'Fredoka One', cursive;
    color: var(--blanco);
    font-size: 30px;
    position: absolute;
    left: 55px;
    top: 8px;
}
.text-green{
    color: var(--verde);
}
.text-blue{
    color: var(--azul);
}
.nav-left ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-left ul li{
    margin: 0px 12px;
}
.nav-left ul li a{
    font-family: var(--nav-font);
    text-decoration: none;
    color: var(--blanco);
    padding: 10px;
    border: solid 2px var(--morado);
    border-radius: 20px;
    font-weight: 800;
}
.nav-left ul li a:hover{
    border: solid 2px var(--blanco);
    transition: .4s;
}
.navbar-mobile{
    padding: 24px;
    position: absolute;
    background: var(--blanco);
    top: 55px;
    left: 0px;
    width: 100%;
    z-index: 1;
}
.navbar-mobile ul{
    list-style: none;
    width: 70%;
    padding: 15px;
}
.navbar-mobile ul:first-child{
    border-bottom: solid 1px var(--gris-carbon);
}
.navbar-mobile ul li{
    margin: 8px 0px;
    display: flex;
    align-items: center;
}
.navbar-mobile ul li img{
    width: 24px;
    height: 24px;
}
.navbar-mobile ul li a{
    text-decoration: none;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: var(--gris-carbon);
}


@media (max-width:880px){
    .menu{
        display: inline;
    }
    .nav-left{
        display: none;
    }
    .nav-right a span{
        display: inline;
    }
    .nav-right a{
        position: absolute;
        left: 40%;
        top: 2px;
    }
}
@media (min-width:881px){
    .navbar-mobile{
        display: none;  
    }
}