{{>nav}}

<section class="container">
    <div class="layout">
        <form id="form-games" action="/games" method="post" class="form__container">  
            <label> Crear un nuevo juego </label>

            <div class="form__control">
                <input id="name-games" name="name" type="text">
            </div>

            <div class="form__control">
                <input id="image-games" name="image" type="url">
            </div>
            <button class="form__btn" id="form-btn"> Crear </button>
        </form>
    </div>
</section>