{{>nav}}
<section class="container">
  <div class="card__game-only">
    <img src="{{g.image}}" alt="imagen">
    <div class="card__content-only">
      <h2> {{g.name}} </h2>
      <label> {{g.id}} </label>
      <a href="games/{{id}}" class="button"> Ver más </a>
    </div>
  </div>
</section>