<section class="container">
  <div class="profile-portain">
    {{id}}
  </div>
  <div class="profile-info">
    <h3>Hola de nuevo {{name}} </h3>
    <h4>Nombre de usuario: {{username}}</h4>
    <h4>Correo electrónico: {{email}}</h4>
  </div>
</section>


